PORT=8787
HOST=0.0.0.0
DATA_DIR=./data
PUBLIC_ORIGIN=http://localhost:5173
TCGDEX_BASE_URL=https://api.tcgdex.net/v2
TCGDEX_CATALOG_ENABLED=false
POKEMON_TCG_BASE_URL=https://api.pokemontcg.io/v2
POKEMON_TCG_API_KEY=
POKEMON_TCG_CATALOG_ENABLED=false
CARD_IMAGES_ENABLED=false
MARKET_QUOTES_ENABLED=false
CATALOG_MAX_RESPONSE_BYTES=2097152
CATALOG_CACHE_MAX_ENTRIES=20000
CATALOG_RATE_LIMIT_PER_MINUTE=60
CATALOG_GLOBAL_RATE_LIMIT_PER_MINUTE=300
CATALOG_MAX_CONCURRENT_REQUESTS=8
CATALOG_PROVIDER_FAILURE_THRESHOLD=3
CATALOG_PROVIDER_COOLDOWN_MS=60000
OIDC_ISSUER=
OIDC_CLIENT_ID=pokemon-cards
OIDC_AUDIENCE=
OIDC_JWKS_URI=
OIDC_REQUIRED=false
SYNC_RETENTION_DAYS=1826
SYNC_MAX_BATCH_SIZE=200
SYNC_MAX_OPERATION_BYTES=65536
SYNC_MAX_ACCOUNT_EVENTS=10000
SYNC_MAX_ACCOUNT_BYTES=67108864
SYNC_MAX_PULL_BYTES=1048576
PRUNE_INTERVAL_MS=3600000
